<?xml version="1.0" encoding="utf-8"?>
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.qsearcher">-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="4.10" package="com.ufinix.QSearcher_" android:versionCode="10" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="QSearcher_.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAsn7O_ZhhBXUlMxKU0TC4iUF0BZmTs6ec" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
</manifest>